nav {
  height: 100%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
